@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

.container {
  width: 700px;
  margin: 0 auto;
}
body {
color:black;
background-color:white;
background-repeat:no-repeat;
background-size: cover;
background-image:url(images/Forest.jpg);
}


.banner h1 {
  font-size: 60px;
  font-family: Work Sans;
}

.banner h2 {
  font-size: 45px;
  font-family: Work Sans;
  font-weight: bold;
  color: darkred;
}

.btn-blue {
  background-color: blanchedalmond;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 300px;
  padding: 20px;
  display: flex
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  margin: 10px;
  flex-basis: 250px;
}

.card img {
  width: 240px;
  border-radius: 3px;
  padding: 20px;
}

.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 18px;
  color:  #FFFFFF;
}
h2{
  color: #339933;
}

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h3{
  font-family: 'Lato';
  text-align: center;
}
h1, h2 {
  font-family: 'Work Sans';
  font-weight: bold;
  text-align: center;
}
h4{
  color: #33CC66;
  font-family: work sans;
  font-size: 70px;
  text-align: center;
}


a {
  text-decoration: none;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}